@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



body{
    background-color: #00000010;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-optical-sizing: auto;
}
button{
    cursor: pointer;
    border: none;
    color: white;
    background-color: #5AA6FF;
    font-size: 16px;
    margin-top: 16px;
    padding: 10px 60px 10px 60px;
    border-radius: 12px;
    transition-duration: 0.2s;

}
#counter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.reset{
    background-color: #FF6262;
    transition-duration: 0.2s;
    padding: 10px 60px 10px 60px;
}
.reset:hover{
    background-color: #ff3030;
    padding: 20px 100px 20px 100px;
    font-size: 20px;
    border-radius: 18px;

}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    width: 200px;
    height: 200px;  
    border-radius: 16px;
    padding: 16px;
    margin: 8px;
    transition-duration: 0.4s;


}
.card:hover{
    transition-duration: 0.4s;
    padding: 19px;
    -webkit-box-shadow: 0px 0px 27px -11px rgba(41,41,41,0.7);
    -moz-box-shadow: 0px 0px 27px -11px rgba(41,41,41,0.7);
    box-shadow: 0px 0px 27px -11px rgba(41,41,41,0.7);
}
.wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.name{
    font-weight: 600;
    font-size: 18px;
}
.number{
    
    font-size: 32px;
}
button:hover{
    transition-duration: 0.2s;
    background-color: #3372fa;
    padding: 10px 65px 10px 65px;
}